.myCard :global(.ant-card-body){
  padding: 10px !important;
  
}
.myCard :global(.ant-card-head){
  background-color: #bbdfff;
}
.myCard :global(ant-card-bordered){
  border-color: #bbdfff;
}
.myTable :global(.ant-table-small){
  border: none !important;
}
