html, button, input, select, textarea {
	color: #222;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
 
 .module_div{
	 width: 250px;
	 height: 400px;
 	 display: inline-block;
 }
 .module_div img{
	 width: 100px;
	 height: 100px;
	 float: left;
	 
 }
::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}
::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}
    select {
    	width:74px;
        height:36px;
        line-height:36px;
        padding-right: 11px;
        padding-top:  -2px;
        
    } 
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 3px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #38b5cb, #fff);
	background-image: -moz-linear-gradient(left, #fff, #38b5cb, #fff);
	background-image: -ms-linear-gradient(left, #fff, #38b5cb, #fff);
	background-image: -o-linear-gradient(left, #fff, #38b5cb, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}
/* .about hr{
	margin: 2.5em 0;
	width: 80%;
	left: 12%;
} */
.colMd5 hr{
	display: block;
	height: 3px;
	border: 0;
	margin: 1em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #4dd2e1, #fff);
	background-image: -moz-linear-gradient(left, #fff, #4dd2e1, #fff);
	background-image: -ms-linear-gradient(left, #fff, #4dd2e1, #fff);
	background-image: -o-linear-gradient(left, #fff, #4dd2e1, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
	height: 100%;
}
body {
  	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

.imgImg{
	display: inline-block;
	margin: 10px;
}
.imgImg img{
	width: 90px;
	height: 90px;
}
.imgImg p{
	text-align: center;
}
.imgJ{
	display: inline-block;
}
.imgJ img{
	margin-bottom:100px;
	width: 50px;
	height: 50px;
}


.btnn{
    display: inline-block;
    padding: 10px 26px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    /* cursor: pointer; */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    
}
.jcjutp{
	/* margin: 20px 0; */
    background-color: rgba(255,255,255,0);
    color: #fff;
    /* border: 1px solid #fff; */
	font-weight: bold;
	font-size:21px ;
	letter-spacing:2px;
}

.totalsearch{
	margin-top: 20px;
}
.totalentrance {
    width: 540px;
    padding: 8px 0px;
    padding-left: 10px;
}
@media screen and (min-width: 1600px) {
    .totalentrance {
	    width: 800px;
	}
}
@media screen and (max-width: 650px) {
    .totalentrance {
	    width: 200px;
	}
}
.totalbtn {
    width: 90px;
    height: 42px;
    line-height: 34px;
    padding: 0;
    border: 1px solid #24b0e6;
    background-color: #4cc9df;
    color: white;
    margin-left: -6px;
}
@media screen and (max-width: 500px) {
  	.totalbtn {
    	width: 50px;
    }
}

.kbpng{
	width:60px;
	height: 60px;
}
.searchpng{
	width:50px;
	height: 50px;
}
.qapng{
	width: 60px;
	height: 60px;
	
}
.graphintro_p{
	text-indent: 2em;
	text-align: justify;
}
.graphintro_span{
	font-size:large; 
	color: #fbe07a;
	float: left;
	padding-top: 30px;
}
.graphintro_div{
	border: 1px dashed #a6dff4;
	border-radius:10px;
	margin-top: 40px;
	margin-left: 100px;

}
.qa_jpg{
	width:384px;
	height: 256px;
	display: inline-block;

}
.qa_exp_div{
	margin-top:25px;
	width:520px;
	height: 216px;
	display: inline-block;
	border: 1px solid #d2d0cd;
	border-radius:10px;
	margin-right: 20px;
}
.qa_exp_p{
	margin: 0px; 
	padding: 20px;
	padding-left: 40px;
	font-size:large;
}
.p2{
	border-bottom: 1px solid #d2d1d0;
	border-top: 1px solid #d2d1d0; 

}
.p1{
	margin: 0px;
	margin-bottom: 10px; 
	padding: 20px;
	font-size: x-large;
}
.p2 span{
	color: #9cdbdc
}
.p3 span{
	color: #3b12bd
}
.qa_intro_div{
	border: 1px solid #d2d0cd;
	border-radius:10px;
	margin-top: 60px;
	margin-left: 100px;
}
.qa_intro_span{
	color:#3c3b3b;
	font-family:fantasy; 
	font-weight:bold; 
	float: left;
	padding-top: 30px;
	text-indent: 2em

}
.qa_intro_span p{
	color:#696666;
	text-indent: 2em
}

.colMd4 {
	padding-bottom: 30px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
	overflow: hidden;
}

.navbar-default .navbar-nav > li > a {
  color: #555;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #38b5c9;
  background-color: #fff;
  
  
}
.navbar-default {
	background-color: #fff;
	padding: 12px 0;
	box-shadow: 0 0 3px #ccc;
	font-weight: 500;
	width: 100%
}
.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: #666;
}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #38b5c9;	
}
a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	color: #555;
}
h2 {
	font-size: 34px;
	color: #666;
	font-weight: 500;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}
/* Paragraph & Typographic */
p {
	line-height: 26px;
	margin-bottom: 20px;
}
p.large {
	font-size: 18px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}

.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #4abcc5;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

.headerwrap {
	background: url("@/assets/header_bg.jpg") no-repeat center top;
	padding-top: 60px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
	margin-top: 60px;
}
.headerwrap h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: 10px;
}
.headerwrap p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}
.headerwrap .btn {
	font-weight: 500;
	font-size: 17px;
	margin: 20px 0;
	background-color: rgba(255,255,255,0);
	color: #fff;
	border: 1px solid #fff;
}
.headerwrap .btn:hover, .headerwrap .btn:focus {
	color: #555;
	background-color: #fff;
	outline: 0px;
	border: 1px solid #fff;
}
.about {
	background: #fff;
	padding-top: 80px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 60px;
}
.about img {
	margin-top: 0;
	margin-bottom: 10px;
}
.about p {
	text-indent: 2em;
	margin-bottom: 18px;
	margin-top: 30px;
}
.about h3{
	text-align: center;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #555;
	/* background: linear-gradient(to right, #00ffe7e0, #5151cc); */
  background-clip: text;
    /* color: transparent; */
    /* text-shadow: 1px 1px 1px #00ffe7e0; */
}
.services {
	background: url("@/assets/bg.jpg") no-repeat center center fixed;
	padding: 60px 0;
	text-align: center;
	background-size: cover;
}
.services .fa {
	color: #c0ed5d;
}
.services p{
	border: 0px dashed #fff;
	/* border: 2px dashed #fff; */
}
.services hr {
	display: block;
	height: 4px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
	width: 80%;
	left: 10%;
	position: relative;
	border: none;
}
.services p {
	/* text-indent:2em; */
	/* text-align: justify; */
	color: #fff;
}
.services h2{
	color: white;
	text-shadow: 2px 2px 2px #00ffe7e0;
}
.about H2 {
	/* color: #35c9d9; */
       /*  background: linear-gradient(to right, #00ffe7e0, #5151cc);
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 2px #00ffe7e0; */
        font-weight: 300;
}

.search {
	padding: 20px;
	padding-top: 50px;
}
.search_nav li {
	display: inline-block;
	margin-right:10px;
	margin-left: 15px;
}
.search_nav li a {
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #00ffe7e0;
}
.search_nav li a.active {
	color:#ebdf52;
	border-bottom: 1px solid #24b0e6;
}
.search_nav li a:hover{
	text-decoration: none;
	color:#24b0e6;
}
.search_nav li a:focus{
	text-decoration: none;
}
.search_txt {
	margin-top: 20px;
}
.search_txt select {
	margin-right: -3px;
	padding: 7px;
	padding-top:8px; 
	font-size: 14px;
	background-color: #efefef;
	border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: none;
    
}

.search_txt .text {
	width:550px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    outline: none;
    box-shadow: none;
    margin-left: 50px;
	border-radius:5px;
}
.search_txt .btn {
	cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #22bfd0;
    font-size: 16px;
    color: white;
    border:1px solid #fff;
    font-weight: normal;
}

#form1 {
	margin-left: 200px;
    width: 262px;
}
.inpus{
	height: 50px;
	width: 730px;
}

#inputQuestion {
	width: 550px;
    padding: 7px 7px;
    font: 16px;
    border: 1px solid #8edfe1;
    border-radius:5px;
    vertical-align: top;
    outline: none;
    box-shadow: none;
}
.search_txt1 {
	margin-top: 20px;
}
.inpus1{
	height: 40px;
	width: 715px;
	margin-left: 220px;
	margin-top: 60px;
	padding:0px;
	border-top: 1px solid #8bdce4;
	background-color: #35dbf9;
	border-radius:5px;
}
 .search_txt1 select::-ms-expand { display: none; } 
.search_txt1 select {
	
	margin-right: -3px;
	/* padding: 7px; */
	padding-left:7px;
	padding-top:2px; 
	font-size: 16px;
    background-color: #35dbf9;
    border: 1px solid #35dbf9;
    border-radius:5px;
    color: white;
    background: url("@/assets/select.png") no-repeat scroll right center transparent;  
}
.search_txt1 .text {
	margin-top:7px;
	width:620px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #8bdce4;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    outline: none;
    box-shadow: none;
}
.search_txt1 .btn1 {
	margin-left: -5px;
	cursor: pointer;
    width: 90px;
    height: 38px;
    line-height: 44px;
    padding: 0;
    border: 1px solid #35dbf9;
    border-radius:5px;
    background: none;
    background-color: #35dbf9;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}

.portfolio {
	background-color: #fff;
	padding: 60px 0;
}
.portfolio .btn-default {
	border: 0;
}
.portfolio h2{
	color: #555;
	/* background: linear-gradient(to right, #00ffe7e0, #5151cc);
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 2px #00ffe7e0; */
	/* color:#3ad1e2;
	text-shadow: 2px 2px 2px #c8faff; */
}
.callout {
  width: 33%;
  position: relative;
  min-height: 1px;
  float: left;
  padding: 15px;
}
.callout p{
	margin-top: 20px;
	padding: 10px;
	border: 2px solid #dae1e2;
  border-radius:25px;
}

#footerwrap {
	background: #2b2b2b;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #3ab7cb;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}
ul.social-buttons {
	margin: 0;
}
ul.social-buttons li a {
	font-size: 24px;
	outline: 0;
	color: #999;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: #3ab7cb;
}
/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
	color: #999;
}
.white p {
	padding-top: 8px;
	padding-bottom: 8px;
	/* background-color: #34b1c4; */
}

.radius p {
	background-color: #79cfdb;
	border:5px solid #daf2f5;
    border-radius:10px;
    /* margin-bottom: 5px; */
}
/* ==========================================================================
   Image Mask
   ========================================================================== */
/* 
.grid figure {
	margin: 0;
	position: relative;
	border: 1px solid #ddd;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
	
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: #34b1c4;
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
}
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #fff;
	font-size: 13px;
} */
/* Caption Style */
/* .mask figure {
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mask figure:hover img, .mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 30px;
} */

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
.headerwrap h1 {
	font-size: 40px;
}
.headerwrap p {
	font-size: 20px;
}
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media ( min-width :768px) {
	.container {
		width: 750px
	}
}

@media ( min-width :992px) {
	.container {
		width: 970px
	}
}

@media ( min-width :1200px) {
	.container {
		width: 1170px
	}
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.colLg1, .colLg10, .colLg11, .colLg12, .colLg2, .colLg3,
	.colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9,
	.colMd1, .colMd10, .colMd11, .colMd12, .colMd2, .colMd3,
	.colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9,
	.colSm1, .colSm10, .colSm11, .colSm12, .colSm2, .colSm3,
	.colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9,
	.colXs1, .colXs10, .colXs11, .colXs12, .colXs2, .colXs3,
	.colXs4, .colXs5, .colXs6, .colXs7, .colXs8, .colXs9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.colXs1, .colXs10, .colXs11, .colXs12, .colXs2, .colXs3,
	.colXs4, .colXs5, .colXs6, .colXs7, .colXs8, .colXs9 {
	float: left
}

.colXs12 {
	width: 100%
}

.colXs11 {
	width: 91.66666667%
}

.colXs10 {
	width: 83.33333333%
}

.colXs9 {
	width: 75%
}

.colXs8 {
	width: 66.66666667%
}

.colXs7 {
	width: 58.33333333%
}

.colXs6 {
	width: 50%
}

.colXs5 {
	width: 41.66666667%
}

.colXs4 {
	width: 33.33333333%
}

.colXs3 {
	width: 25%
}

.colXs2 {
	width: 16.66666667%
}

.colXs1 {
	width: 8.33333333%
}

.colXsPull12 {
	right: 100%
}

.colXsPull11 {
	right: 91.66666667%
}

.colXsPull10 {
	right: 83.33333333%
}

.colXsPull9 {
	right: 75%
}

.colXsPull8 {
	right: 66.66666667%
}

.colXsPull7 {
	right: 58.33333333%
}

.colXsPull6 {
	right: 50%
}

.colXsPull5 {
	right: 41.66666667%
}

.colXsPull4 {
	right: 33.33333333%
}

.colXsPull3 {
	right: 25%
}

.colXsPull2 {
	right: 16.66666667%
}

.colXsPull1 {
	right: 8.33333333%
}

.colXsPull0 {
	right: auto
}

.colXsPush12 {
	left: 100%
}

.colXsPush11 {
	left: 91.66666667%
}

.colXsPush10 {
	left: 83.33333333%
}

.colXsPush9 {
	left: 75%
}

.colXsPush8 {
	left: 66.66666667%
}

.colXsPush7 {
	left: 58.33333333%
}

.colXsPush6 {
	left: 50%
}

.colXsPush5 {
	left: 41.66666667%
}

.colXsPush4 {
	left: 33.33333333%
}

.colXsPush3 {
	left: 25%
}

.colXsPush2 {
	left: 16.66666667%
}

.colXsPush1 {
	left: 8.33333333%
}

.colXsPush0 {
	left: auto
}

.colXsOffset12 {
	margin-left: 100%
}

.colXsOffset11 {
	margin-left: 91.66666667%
}

.colXsOffset10 {
	margin-left: 83.33333333%
}

.colXsOffset9 {
	margin-left: 75%
}

.colXsOffset8 {
	margin-left: 66.66666667%
}

.colXsOffset7 {
	margin-left: 58.33333333%
}

.colXsOffset6 {
	margin-left: 50%
}

.colXsOffset5 {
	margin-left: 41.66666667%
}

.colXsOffset4 {
	margin-left: 33.33333333%
}

.colXsOffset3 {
	margin-left: 25%
}

.colXsOffset2 {
	margin-left: 16.66666667%
}

.colXsOffset1 {
	margin-left: 8.33333333%
}

.colXsOffset0 {
	margin-left: 0
}

@media ( min-width :768px) {
	.colSm1, .colSm10, .colSm11, .colSm12, .colSm2, .colSm3,
		.colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9 {
		float: left
	}
	.colSm12 {
		width: 100%
	}
	.colSm11 {
		width: 91.66666667%
	}
	.colSm10 {
		width: 83.33333333%
	}
	.colSm9 {
		width: 75%
	}
	.colSm8 {
		width: 66.66666667%
	}
	.colSm7 {
		width: 58.33333333%
	}
	.colSm6 {
		width: 50%
	}
	.colSm5 {
		width: 41.66666667%
	}
	.colSm4 {
		width: 33.33333333%
	}
	.colSm3 {
		width: 25%
	}
	.colSm2 {
		width: 16.66666667%
	}
	.colSm1 {
		width: 8.33333333%
	}
	.colSmPull12 {
		right: 100%
	}
	.colSmPull11 {
		right: 91.66666667%
	}
	.colSmPull10 {
		right: 83.33333333%
	}
	.colSmPull9 {
		right: 75%
	}
	.colSmPull8 {
		right: 66.66666667%
	}
	.colSmPull7 {
		right: 58.33333333%
	}
	.colSmPull6 {
		right: 50%
	}
	.colSmPull5 {
		right: 41.66666667%
	}
	.colSmPull4 {
		right: 33.33333333%
	}
	.colSmPull3 {
		right: 25%
	}
	.colSmPull2 {
		right: 16.66666667%
	}
	.colSmPull1 {
		right: 8.33333333%
	}
	.colSmPull0 {
		right: auto
	}
	.colSmPush12 {
		left: 100%
	}
	.colSmPush11 {
		left: 91.66666667%
	}
	.colSmPush10 {
		left: 83.33333333%
	}
	.colSmPush9 {
		left: 75%
	}
	.colSmPush8 {
		left: 66.66666667%
	}
	.colSmPush7 {
		left: 58.33333333%
	}
	.colSmPush6 {
		left: 50%
	}
	.colSmPush5 {
		left: 41.66666667%
	}
	.colSmPush4 {
		left: 33.33333333%
	}
	.colSmPush3 {
		left: 25%
	}
	.colSmPush2 {
		left: 16.66666667%
	}
	.colSmPush1 {
		left: 8.33333333%
	}
	.colSmPush0 {
		left: auto
	}
	.colSmOffset12 {
		margin-left: 100%
	}
	.colSmOffset11 {
		margin-left: 91.66666667%
	}
	.colSmOffset10 {
		margin-left: 83.33333333%
	}
	.colSmOffset9 {
		margin-left: 75%
	}
	.colSmOffset8 {
		margin-left: 66.66666667%
	}
	.colSmOffset7 {
		margin-left: 58.33333333%
	}
	.colSmOffset6 {
		margin-left: 50%
	}
	.colSmOffset5 {
		margin-left: 41.66666667%
	}
	.colSmOffset4 {
		margin-left: 33.33333333%
	}
	.colSmOffset3 {
		margin-left: 25%
	}
	.colSmOffset2 {
		margin-left: 16.66666667%
	}
	.colSmOffset1 {
		margin-left: 8.33333333%
	}
	.colSmOffset0 {
		margin-left: 0
	}
}

@media ( min-width :992px) {
	.colMd1, .colMd10, .colMd11, .colMd12, .colMd2, .colMd3,
		.colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9 {
		float: left
	}
	.colMd12 {
		width: 100%
	}
	.colMd11 {
		width: 91.66666667%
	}
	.colMd10 {
		width: 83.33333333%
	}
	.colMd9 {
		width: 75%
	}
	.colMd8 {
		width: 66.66666667%
	}
	.colMd7 {
		width: 58.33333333%
	}
	.colMd6 {
		width: 50%
	}
	.colMd5 {
		width: 41.66666667%
	}
	.colMd4 {
		width: 33.33333333%
	}
	.colMd3 {
		width: 25%
	}
	.colMd2 {
		width: 16.66666667%
	}
	.colMd1 {
		width: 8.33333333%
	}
	.colMdpull-12 {
		right: 100%
	}
	.colMdpull-11 {
		right: 91.66666667%
	}
	.colMdpull-10 {
		right: 83.33333333%
	}
	.colMdpull-9 {
		right: 75%
	}
	.colMdpull-8 {
		right: 66.66666667%
	}
	.colMdpull-7 {
		right: 58.33333333%
	}
	.colMdpull-6 {
		right: 50%
	}
	.colMdpull-5 {
		right: 41.66666667%
	}
	.colMdpull-4 {
		right: 33.33333333%
	}
	.colMdpull-3 {
		right: 25%
	}
	.colMdpull-2 {
		right: 16.66666667%
	}
	.colMdpull-1 {
		right: 8.33333333%
	}
	.colMdpull-0 {
		right: auto
	}
	.colMdpush-12 {
		left: 100%
	}
	.colMdpush-11 {
		left: 91.66666667%
	}
	.colMdpush-10 {
		left: 83.33333333%
	}
	.colMdpush-9 {
		left: 75%
	}
	.colMdpush-8 {
		left: 66.66666667%
	}
	.colMdpush-7 {
		left: 58.33333333%
	}
	.colMdpush-6 {
		left: 50%
	}
	.colMdpush-5 {
		left: 41.66666667%
	}
	.colMdpush-4 {
		left: 33.33333333%
	}
	.colMdpush-3 {
		left: 25%
	}
	.colMdpush-2 {
		left: 16.66666667%
	}
	.colMdpush-1 {
		left: 8.33333333%
	}
	.colMdpush-0 {
		left: auto
	}
	.colMdOffset12 {
		margin-left: 100%
	}
	.colMdOffset11 {
		margin-left: 91.66666667%
	}
	.colMdOffset10 {
		margin-left: 83.33333333%
	}
	.colMdOffset9 {
		margin-left: 75%
	}
	.colMdOffset8 {
		margin-left: 66.66666667%
	}
	.colMdOffset7 {
		margin-left: 58.33333333%
	}
	.colMdOffset6 {
		margin-left: 50%
	}
	.colMdOffset5 {
		margin-left: 41.66666667%
	}
	.colMdOffset4 {
		margin-left: 33.33333333%
	}
	.colMdOffset3 {
		margin-left: 25%
	}
	.colMdOffset2 {
		margin-left: 16.66666667%
	}
	.colMdOffset1 {
		margin-left: 8.33333333%
	}
	.colMdOffset0 {
		margin-left: 0
	}
}

@media ( min-width :1200px) {
	.colLg1, .colLg10, .colLg11, .colLg12, .colLg2, .colLg3,
		.colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9 {
		float: left
	}
	.colLg12 {
		width: 100%
	}
	.colLg11 {
		width: 91.66666667%
	}
	.colLg10 {
		width: 83.33333333%
	}
	.colLg9 {
		width: 75%
	}
	.colLg8 {
		width: 66.66666667%
	}
	.colLg7 {
		width: 58.33333333%
	}
	.colLg6 {
		width: 50%
	}
	.colLg5 {
		width: 41.66666667%
	}
	.colLg4 {
		width: 33.33333333%
	}
	.colLg3 {
		width: 25%
	}
	.colLg2 {
		width: 16.66666667%
	}
	.colLg1 {
		width: 8.33333333%
	}
	.colLgpull-12 {
		right: 100%
	}
	.colLgpull-11 {
		right: 91.66666667%
	}
	.colLgpull-10 {
		right: 83.33333333%
	}
	.colLgpull-9 {
		right: 75%
	}
	.colLgpull-8 {
		right: 66.66666667%
	}
	.colLgpull-7 {
		right: 58.33333333%
	}
	.colLgpull-6 {
		right: 50%
	}
	.colLgpull-5 {
		right: 41.66666667%
	}
	.colLgpull-4 {
		right: 33.33333333%
	}
	.colLgpull-3 {
		right: 25%
	}
	.colLgpull-2 {
		right: 16.66666667%
	}
	.colLgpull-1 {
		right: 8.33333333%
	}
	.colLgpull-0 {
		right: auto
	}
	.colLgpush-12 {
		left: 100%
	}
	.colLgpush-11 {
		left: 91.66666667%
	}
	.colLgpush-10 {
		left: 83.33333333%
	}
	.colLgpush-9 {
		left: 75%
	}
	.colLgpush-8 {
		left: 66.66666667%
	}
	.colLgpush-7 {
		left: 58.33333333%
	}
	.colLgpush-6 {
		left: 50%
	}
	.colLgpush-5 {
		left: 41.66666667%
	}
	.colLgpush-4 {
		left: 33.33333333%
	}
	.colLgpush-3 {
		left: 25%
	}
	.colLgpush-2 {
		left: 16.66666667%
	}
	.colLgpush-1 {
		left: 8.33333333%
	}
	.colLgpush-0 {
		left: auto
	}
	.colLgoffset-12 {
		margin-left: 100%
	}
	.colLgoffset-11 {
		margin-left: 91.66666667%
	}
	.colLgoffset-10 {
		margin-left: 83.33333333%
	}
	.colLgoffset-9 {
		margin-left: 75%
	}
	.colLgoffset-8 {
		margin-left: 66.66666667%
	}
	.colLgoffset-7 {
		margin-left: 58.33333333%
	}
	.colLgoffset-6 {
		margin-left: 50%
	}
	.colLgoffset-5 {
		margin-left: 41.66666667%
	}
	.colLgoffset-4 {
		margin-left: 33.33333333%
	}
	.colLgoffset-3 {
		margin-left: 25%
	}
	.colLgoffset-2 {
		margin-left: 16.66666667%
	}
	.colLgoffset-1 {
		margin-left: 8.33333333%
	}
	.colLgoffset-0 {
		margin-left: 0
	}
}
